/* Colores PW

azul     #44d9e6
gris      #363636
gris 2   #b3b2b8 */


.everything{
	background-color: #363636;
}

.everything h1{
	color: #44d9e6;
	padding-top: 10px;
	font-family: 'Bree Serif', serif;
}

.everything h3{
	color: #fff;
}

.everything label{
	color: #fff;
}

.everything select {
    color: #363636;
}


body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
}

.everything button {
    background-color: #44d9e6; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

